<template>
    <span class="badge">
        {{count}}
    </span>
</template>

<script>
export default {
    props: {
        count: {
            type: Number,
            default: null,
        },
    },
    data() {
        return {};
    },
};
</script>

<style lang="scss" scoped>
  @import './badge.scss';
</style>
