<template>
    <div class="control-bar">

      <my-button
        @click="reject"
        :myclass="'decline'"
        :text="''"
        :icon="'close'"
      />

      <my-button
        @click="skip"
        :myclass="'skip'"
        :text="'Skip'"
      />

      <my-button
        @click="match"
        :myclass="'like'"
        :text="''"
        :icon="'like'"
      />

    </div>
</template>

<script>
import myButton from '@/patterns/atoms/my-button/my-button.vue';

export default {
    components: {
        myButton,
    },
    data() {
        return {};
    },
    methods: {
        reject() {
            this.$emit('reject');
        },
        skip() {
            this.$emit('skip');
        },
        match() {
            this.$emit('match');
        },
    },
};
</script>

<style lang="scss" scoped>
  @import './control-bar.scss';
</style>
