<template>
  <div
    v-if="loading === false"
  >
    <div class="card__background"></div>
    <div
      v-if="current"
      :class="{ 'transition': isVisible }"
      class="sticky-top"
      style="z-index: 3"
    >
      <Vue2InteractDraggable
        v-if="isVisible"
        @draggedRight="emitAndNext('match')"
        @draggedLeft="emitAndNext('reject')"
        @draggedUp="emitAndNext('skip')"
        :interact-out-of-sight-x-coordinate="500"
        :interact-max-rotation="15"
        :interact-x-threshold="200"
        :interact-y-threshold="200"
        :interact-event-bus-events="interactEventBus"
        interact-block-drag-down
        class="card card--one"
      >
        <div style="height: 100%">
          <img
            :src="current.Foto"
            :srcset="`
              ${current.FotoLarge} 240w,
              ${current.FotoMedium} 300w,
              ${current.FotoLarge} 720w`
            "
            class="card__image"
          />
          <div class="card__text">
            <h2 class="card__title">
              {{current.Woonplaats}}, {{current.Adres}}
              <router-link
                :to="{ name: 'Single', params: { id: current.Postcode } }"
                class="card__info-button"
              >
                i
              </router-link>
            </h2>
            <p class="card__sub-title">
              <span>{{current.AantalKamers}} kamers</span>
              , Aangeboden sinds {{current.AangebodenSindsTekst}}
            </p>
          </div>
        </div>
      </Vue2InteractDraggable>
    </div>

    <div
      v-if="next"
      class="card card--two"
      style="z-index: 2"
    >
      <div style="height: 100%">
        <img
          :src="next.Foto"
          :srcset="`${next.FotoLarge} 240w, ${next.FotoMedium} 300w, ${next.FotoLarge} 720w`"
          class="card__image"
        />

        <div class="card__text">
          <h2 class="card__title">
              {{next.Woonplaats}}, {{next.Adres}}
            </h2>
            <p class="card__sub-title">
              <span>{{next.AantalKamers}} kamers</span>
              , Aangeboden sinds
              {{next.AangebodenSindsTekst}}
            </p>
        </div>

      </div>
    </div>

    <div
      v-if="index + 2 < matchSuggestions.length"
      class="card card--three"
      style="z-index: 1">
      <div style="height: 100%"></div>
    </div>

    <!--

    Controlbar krijg ik helaas nog niet werkend
    <control-bar />
    -->

  </div>
</template>
<script>

import { mapGetters, mapActions } from 'vuex';
import { Vue2InteractDraggable, InteractEventBus } from 'vue2-interact';
// import controlBar from '@/patterns/molocules/control-bar/control-bar.vue';

const EVENTS = {
  MATCH: 'match',
  SKIP: 'skip',
  REJECT: 'reject',
};

export default {
  name: 'SwipeableCards',
  components: {
    Vue2InteractDraggable,
    // controlBar,
  },
  data() {
    return {
      loading: false,
      isVisible: true,
      index: 0,
      interactEventBus: {
        draggedRight: EVENTS.MATCH,
        draggedLeft: EVENTS.REJECT,
        draggedUp: EVENTS.SKIP,
      },
    };
  },
  computed: {
    // Get the following data from the  store
    ...mapGetters(['matchSuggestions']),
    current() {
      return this.matchSuggestions[this.index];
    },
    next() {
      return this.matchSuggestions[this.index + 1];
    },
  },
   created() {
    // If view is created fetch data from the api
    this.fetchData();
  },
  methods: {
    ...mapActions({
      getMatchSuggestions: 'get',
      pushMatch: 'updateMatches',
      increment: 'increment',
    }),
    fetchData() {
      // Set the loading to true, can be handy for in the future for loader gif
      this.loading = true;

      return this.getMatchSuggestions().then(() => {
          this.loading = false;
      }).catch(({response}) => {
          if (response && response.status === 404) {
              alert(error);
          }
          this.loading = false;
      });
    },
    match() {
      InteractEventBus.$emit(EVENTS.MATCH);
    },
    reject() {
      InteractEventBus.$emit(EVENTS.REJECT);
    },
    skip() {
      InteractEventBus.$emit(EVENTS.SKIP);
    },
    emitAndNext(event) {
      this.$emit(event, this.index);
      setTimeout(() => this.isVisible = false, 200);

      // If swipe to the right side push match object to different array
      // And call vue store event for increment
      if (event === 'match') {
        const currentMatch = this.matchSuggestions[this.index];

        this.pushMatch(currentMatch);
        this.increment();
      }

      setTimeout(() => {
        this.index = this.index + 1;
        this.isVisible = true;
      }, 200);
    },
  },
};
</script>

<style lang="scss" scoped>
  @import './cards.scss';
</style>
