.sticky-top {
  @include fixed;
  @include fixed--center;
}

.card {
  @include border-rounded;
  @include fixed;
  @include fixed--center;

  width: 80vw;
  height: 60vh;
  color: $color-lightest;

  &.card--one {
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
  }

  &.card--two {
    transform: translate(-48%, -48%);
    box-shadow: 0 6px 6px -3px rgba(0,0,0,.2);
  }

  &.card--three {
    background: rgba(black, .8);
    transform: translate(-46%, -46%);
    box-shadow: 0 10px 13px -6px rgba(0,0,0,.2);
  }
}

.card__background {
  position: fixed;
  width: 100%;
  height: 60vh;
  top: 0;
  left: 0;
  
  padding: 2rem .9375rem 0 .9375rem;

  @include flex;
  
  color: $color-lightest;
  background: $color-primary;

  background: linear-gradient(to top, $color-primary, $color-primary-light);
  clip-path: polygon(0 1%, 100% 0%, 100% 76%, 0 89%);

  z-index: 0;
}

.card__image {
  @include border-rounded;
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.card__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: .9375rem;
  padding-right: 3.75rem;
  background: black;
  background: rgba(0,0,0,.5);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;

  span {
    font-weight: normal;
  }
}

.card__title {
  margin: .625rem 0 0 0;
  color: $color-lightest;
}

.card__sub-title {
  margin: .3125rem 0 .9375rem 0;
}

.card__info-button {
  position: absolute;
  top: .9375rem;
  right: .9375rem;
  
  display: inline-block;
  
  padding: 0;
  margin: 0;
  width: 1.875rem;
  height: 1.875rem;

  @include font-primary-bold;
  text-align: center;
  font-size: 16px;
  text-indent: 0;
  line-height: 1.875rem;
  text-decoration: none;

  background-color: $color-lightest;
  color: $color-secondary;

  border-radius: 50%;

  &:hover {
    background-color: $color-secondary;
    color: $color-lightest;
  }
}

.control-bar {
  @include fixed;
  @include flex;
  justify-content: space-around;
  align-items: center;

  width: 77vw;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 30px;
}

.transition {
  animation: appear 200ms ease-in;
}

@keyframes appear {
  from {
    transform: translate(-48%, -48%);
  }

  to {
    transform: translate(-50%, -50%);
  }
}