.house-info {
    padding: 0 0 $spacing 0;
    border-bottom: 2px solid $color-gray1;
}

.house-info__list {
    list-style: none;
    padding-left: 0;

    span {
        @include font-primary-bold;
    }
}

.house-info__price {
    @extend .font-size-h4;

    span {
        @include font-primary-bold;
        color: $color-secondary;
    }
}