<template>
    <div class="house-info">
        <h1> {{item.Woonplaats}}, {{item.Adres}}</h1>

        <lazy-image
            :source="item.FotoLarge"
        />
        <ul class="house-info__list">
            <li>
                <span>Kamers:</span> {{item.AantalKamers}}
            </li>
            <li>
                <span>Aangeboden sinds:</span> {{item.AangebodenSindsTekst}}
            </li>
        </ul>

        <p
            v-if="item.Prijs"
            class="house-info__price"
        >
            Koopprijs <span>€ {{item.Prijs.Koopprijs}} {{item.Prijs.KoopAbbreviation}}</span>
        </p>

        <a
            v-if="type === 'match'"
            class="button"
            :href="item.URL"
            target="_blank"
        >
            Neem contact op
        </a>
    </div>
</template>

<script>

import lazyImage from '@/patterns/atoms/lazy-image/lazy-image.vue';

export default {
    components: {
        lazyImage,
    },
    props: {
        item: {
            type: Object,
            default: null,
        },
        type: {
            type: String,
            default: null,
        },
    },
    data() {
        return {};
    },
    methods: {
        contactBtn() {
            alert(this.item.url);
        },
    },
};
</script>

<style lang="scss" scoped>
  @import './house-info.scss';
</style>
