/*
|--------------------------------------------------------------------------
| Variables: Responsive
|--------------------------------------------------------------------------
|
| Here is where responsive related variables are declared.
|
*/


/* ==========================================================================
   Minimum widths for breakpoints
   ========================================================================== */
   $screen-xs: 320px; // Modern phones portrait
   $screen-sm: 576px; // Modern phones landscape
   $screen-md: 768px; // Tablet / medium devices
   $screen-lg: 992px; // Desktop
   $screen-xl: 1200px; // High res - large desktop
   $screen-xxl: 1700px; // Mega large desktop

   /* ==========================================================================
   Media Queries
   ========================================================================== */
   $screen-xs-min: ($screen-xs + 1);
   $screen-sm-min: ($screen-sm + 1);
   $screen-md-min: ($screen-md + 1);
   $screen-lg-min: ($screen-lg + 1);
   $screen-xl-min: ($screen-xl + 1);
   $screen-xxl-min: ($screen-xxl + 1);
   
   
@mixin q-xs-min {
    @media (max-width: $screen-xs-min) { 
        @content; 
    }
}
  
@mixin q-sm-min {
    @media (min-width: $screen-sm-min) { 
        @content; 
    }
}
  
@mixin q-md-min {
    @media (min-width: $screen-md-min) { 
        @content;
    }
}

@mixin q-lg-min {
    @media (min-width: $screen-lg-min) { 
        @content; 
    }
}

@mixin q-xl-min {
    @media (min-width: $screen-xl-min) { 
        @content; 
    }
}