/* ==========================================================================
   Font families & styles
   ========================================================================== */
  
$font-primary-family:               'GT Walsheim', Hellvetica Neue, Hellvetica, Arial, sans-serif;
$font-family-primary:               'GT Walsheim';

$font-weight-light:                 300;
$font-weight-normal:                400;
$font-weight-medium:                500;
$font-weight-bold:                  600;

/* ==========================================================================
   Line heights
   ========================================================================== */

/* ==========================================================================
   Font size
   ========================================================================== */

$font-size-root:                    16px;

/* ==========================================================================
   Font sizes (comments are desktop sizes unless otherwise specified)
   ========================================================================== */

$font-size-giga:                        3.3333rem;  // 60px - H1
$font-size-mega:                        3rem;       // 44px - H2
$font-size-xxxl:                        2rem;       // 32px - Home title
$font-size-xxl:                         1.75rem;    // 28px - Mobile
$font-size-xl:                          1.5rem;     // 24px - Mobile Lead
$font-size-lg:                          1.37rem;    // 22px - H3 mobile headline
$font-size-md:                          1.25rem;    // 20px - Body text
$font-size-sm:                          1.125rem;   // 18px - Body text
$font-size-xs:                          1rem;       // 16px - Body text
$font-size-xxs:                         .875rem;    // 14px - small button

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-light;
  src: url('#{$base-font-dir}gt-walsheim-light.woff.woff2') format('woff2'),
  url('#{$base-font-dir}gt-walsheim-light.woff') format('woff');
}

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-normal;
  src: url('#{$base-font-dir}gt-walsheim-regular.woff2') format('woff2'),
  url('#{$base-font-dir}gt-walsheim-regular.woff') format('woff');
}

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-medium;
  src: url('#{$base-font-dir}gt-walsheim-medium.woff2') format('woff2'),
  url('#{$base-font-dir}gt-walsheim-medium.woff') format('woff');
}

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-bold;
  src: url('#{$base-font-dir}gt-walsheim-bold.woff2') format('woff2'),
  url('#{$base-font-dir}gt-walsheim-bold.woff') format('woff');
}