$page-width: 1220px;
$page-width-small: 715px;


$spacing: 30px;
$spacing-half: $spacing / 2; //15px 

$spacing-2x: $spacing * 2; // 60px
$spacing-3x: $spacing * 3; // 90px
$spacing-4x: $spacing * 4; // 120px
$spacing-5x: $spacing * 5; // 75px
$spacing-6x: $spacing * 6; // 90px
$spacing-7x: $spacing * 7; // 90px
$spacing-8x: $spacing * 8; // 90px
$spacing-9x: $spacing * 9; // 90px
$spacing-10x: $spacing * 10; // 150px