$color-lightest: #fff;
$color-darkest: #000;

// Shades
$color-gray1: #f5f5f5;
$color-gray2: #fafafa;

// colors
$color-primary: #f7a100;
$color-primary-light: #f8c463;
$color-primary-dark: darken($color-primary, .8);


$color-secondary: #0071b3;
$color-secondary-light: lighten($color-secondary, .8);
$color-secondary-dark: darken($color-secondary, .8);

$color-tertiary: #746fb3;
$color-tertiary-light: #7b74cc;
$color-tertiary-dark: darken($color-tertiary, .8);

$color-dark-gray1: #979797;
$color-dark-translucent: rgba(255,255,255, .07);