<template>
  <div class="card">
    <cards />
  </div>
</template>
<script>

import cards from '@/patterns/molocules/cards/cards.vue';

export default {
  components: { cards },
  data() {
    return {};
  },
};
</script>
