<template>
  <div class="layout layout--page">
    <div class="layout__container-small">
    <h1 v-if="matchCount >= 1">
      <badge :count="matchCount"></badge>
      Matches
    </h1>
    <h1 v-else>Nog geen matches gevonden</h1>
    <div
      v-if="matches"
      v-for="(match, index) in matches"
      :key="index"
    >
    <house-info
      :item="match"
      :type="'match'"
    />
    </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import badge from '@/patterns/atoms/badge/badge.vue';
import houseInfo from '@/patterns/molocules/house-info/house-info.vue';

export default {
  name: 'Matches',
  components: {
    houseInfo,
    badge,
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters(['matchCount', 'matches']),
  },
};
</script>

<style lang="scss" scoped>
  .layout__container {
    max-width: $page-width-small;
    padding: 0 1rem;
    margin: 0 auto;
    margin-bottom: 8rem;

    @media q-md-min {
        margin-top: 3.5rem;
        margin-bottom: 8.375rem;

        width: 50%;
    }
  }
</style>
