<template>
  <div class="layout layout--page">
    <div v-for="(single, index) in matchSuggestions" :key="index">
      <div
        v-if="id == single.Postcode"
        class="layout__container-small">
          <house-info
          :item="single"
          :type="'single'"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import houseInfo from '@/patterns/molocules/house-info/house-info.vue';

export default {
  name: 'Single',
  components: {
    houseInfo,
  },
  data() {
    return {
      id: this.$route.params.id,
      title: 'Single',
    };
  },
  computed: {
    ...mapGetters(['matchSuggestions']),
  },
};
</script>
