<template>
  <span
    v-html="iconTemplate"
    :data-name="icon"
    class="icon"
  />
</template>

<script>
import axios from 'axios';

export default {
  props: ['icon'],
  data() {
    return {
      iconTemplate: undefined,
    };
  },
  created() {
    this.loadIcon();
  },
  methods: {
    loadIcon() {
      axios.get(`/img/icons/${this.icon}.svg`).then(response => {
        this.iconTemplate = response.data;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
  @import './icon.scss';
</style>
