.icon {
    display: inline-block;
    width: 1em;
    height: 1em;

    color: currentColor;

    svg,
    path,
    polygon,
    rect,
    g {
        width: 1em;
        height: 1em;
        fill: currentColor !important;
    }
}