<template>
  <figure v-lazyload class="image__wrapper">
    <lazySpinner
      class="image__spinner"
    />
    <img
      :data-url="source"
      class="image__item"
      alt="random image"
    >
  </figure>
</template>

<script>
import lazySpinner from '@/patterns/atoms/lazy-spinner/lazy-spinner.vue';

export default {
  name: 'ImageItem',
  components: {
    lazySpinner,
  },
  props: {
    source: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">
.image {
  &__wrapper {
    &.loaded {
      .image {
        &__item {
          visibility: visible;
          opacity: 1;
          border: 0;
        }

        &__spinner {
          display: none;
          width: 100%;
        }
      }
    }
  }

  &__item {
    width: 100%;
    transition: all .8s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
}
</style>
