.ripple {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
  
    &__circle {
      position: absolute;
      border: 4px solid rgb(96, 208, 112);
      opacity: 1;
      border-radius: 50%;
      animation: ripple 1s cubic-bezier(0, .2, .8, 1) infinite;
    }
  
    &__inner-circle {
      animation-delay: -.5s;
    }
  }
  
  @keyframes ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
  
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }