@mixin page-container {
    max-width: 100%;
    padding: 0 1.25rem;

    @include q-md-min {
        max-width: $page-width;
        padding: 0 $spacing-2x;
        margin: 0 auto;
    }
}

@mixin page-container-small {
  max-width: $page-width-small;
  padding: 0 1.25rem;
  margin: 0 auto;
}