@mixin font-size($xxs, $xs: $xxs, $sm: $xs, $md: $sm, $lg: $md, $xl: $lg) {
    font-size: $xxs;

    @include q-xs-min {
        font-size: $xs;
    }

    @include q-sm-min {
        font-size: $sm;
    }

    @include q-md-min {
        font-size: $md;
    }

    @include q-lg-min {
        font-size: $lg;
    }

    @include q-xl-min {
        font-size: $xl;
    }
}
