<template>
  <div id="app" class="app">
    <div class="layout__main">
      <site-navigation :count="matchCount" />
      <transition
        name="fade"
        mode="out-in"
      >
        <router-view :key="$route.fullPath"></router-view>
      </transition>
    </div>
  </div>
</template>

<script>

import { mapGetters } from 'vuex';
import siteNavigation from '@/patterns/organisms/site-navigation/site-navigation.vue';

export default {
  components: {
    siteNavigation,
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters(['matchCount']),
  },
};
</script>
