.navigation {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    
    padding: 2rem .9375rem 2rem .9375rem;

    text-align: center;
    @include flex;
    justify-content: space-between;
    
    color: $color-lightest;
    background: $color-primary;
  
    z-index: 1;

    @include q-md-min {
        padding: 2rem 1.875rem 2rem 1.875rem;
    }
}

.naviation__link {
    position: relative;
    display: inline-block;

    text-align: center;

    @include font-primary-bold;
    @extend .font-size-navigation;
    text-decoration: none;

    color: $color-lightest;

    .icon {
        fill: $color-lightest;
    }

    &:hover {
        color: $color-secondary;

        .icon {
            fill: $color-secondary;
        }

        .navigation__link__badge {
            background-color: $color-primary;
            color: $color-lightest;
        }
    }

    &.router-link-exact-active {
        color: $color-secondary;
        
        .icon {
            fill: $color-secondary;
        }

        .navigation__link__badge {
            background-color: $color-secondary;
            color: $color-lightest;
        }
    }
}

.navigation__link__badge {
    position: absolute;
    top: .125rem;
    right: 1.75rem;
    
    display: inline-block;
    width: 1.375rem;
    height: 1.375rem;
    
    line-height: 1.375rem;
    font-size: .875rem;
    text-align: center;

    background-color: $color-secondary;

    border-radius: 50%;
}