<template>
    <nav class="navigation">
        <router-link class="naviation__link" to="/">
            Amsterdam huizen match
        </router-link>

        <router-link class="naviation__link" to="/matches">
            <span
                v-if="count"
                class="navigation__link__badge"
            >
                {{count}}
            </span>
            <svg-icon icon="house" />
        </router-link>
    </nav>
</template>

<script>

export default {
    props: {
        count: {
            type: Number,
            default: null,
        },
    },
    data() {
        return {};
    },
};
</script>

<style lang="scss" scoped>
  @import './site-navigation.scss';
</style>
