<template>
  <button
    :class="`button--${myclass}`"
    class="button"
  >
    <span
      v-if="text"
      class="button__text"
    >
      {{ text }}
    </span>
    <svg-icon
      v-if="icon"
      :icon="icon"
    />
  </button>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      default: null,
    },
    text: {
      type: String,
      default: null,
    },
    myclass: {
      type: String,
      default: null,
    },
    link: {
      type: String,
      default: null,
    },
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss">
  @import './my-button.scss';
</style>
