@mixin button-round() {
  width: 3.125rem;
  height: 3.125rem;

  @include font-primary-bold;

  color: $color-lightest;
  
  border-radius: 50%;

  .icon {
    fill: $color-lightest;
    font-size: 1rem;
  }

  &:hover {
    opacity: .6;
  }
}

.button {
  display: inline-block;
  margin: 0;
  padding: .6rem 1rem;
  
  @include font-primary-bold;
  text-decoration: none;
  
  color: $color-lightest;
  background-color: $color-secondary-light !important;
  box-shadow: 0 4px 0 0 $color-secondary;

  border: none;
  border-radius: 10px;

  &:hover {
    opacity: .6;
  }
}

.button__text {  
  display: block;
  
  @include font-primary-bold;
  font-size: 1.125rem;
  text-align: center;

  color: $color-lightest;
}

.button--like {
  @include button-round;
  background-color: $color-primary-light;
  box-shadow: 0 3px 0 0 $color-primary;
}

.button--decline {
  @include button-round;
  background-color: $color-tertiary-light;
  box-shadow: 0 3px 0 0 $color-tertiary;
}

.button--skip {
  @include button-round;
  background-color: $color-secondary-light;
  box-shadow: 0 3px 0 0 $color-secondary;
}