body {
  background-color: $color-lightest;
}

// .app {}

.layout {
  img {
    max-width: 100%;
    height: auto;
  }
}

.layout--page {
  margin-top: 7.5rem;
}

.layout__container-small {
  @include page-container-small;
}

.layout__container {
  max-width: $page-width;
  padding: 0 1rem;
  margin: 0 auto;
  margin-bottom: 8rem;

  @media q-md-min {
      margin-top: 3.5rem;
      margin-bottom: 8.375rem;

      width: 50%;
  }
}