@mixin flex() {
  display: flex;
}

@mixin flex--center() {
  align-items: center;
  justify-content: center;
}

@mixin fixed() {
  position: fixed;
}

@mixin fixed--center() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin border-rounded() {
  border-radius: 12px;
}