.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

// Slider
.fade-slider-enter-active,
.fade-slider-leave-active {
  transition: all .9s ease;
  overflow: hidden;
  visibility: visible;
  position: absolute;
  width: 100%;
  opacity: 1;
}

.fade-slider-enter,
.fade-slider-leave-to {
  visibility: hidden;
  width: 100%;
  opacity: 0;
}