/*
|--------------------------------------------------------------------------
| Typography
|--------------------------------------------------------------------------
|
| Global typography rules & helpers.
| Make sure all styling in this file can be applied to the whole
| of the document. Don't be too specific so styles don't
| have to be overwritten constantly within in components.
|
*/

@mixin font-primary-light {
    font-family: $font-primary-family;
    font-weight: $font-weight-light;
}

@mixin font-primary {
    font-family: $font-primary-family;
    font-weight: $font-weight-normal;
}

@mixin font-primary-italic {
    font-family: $font-primary-family;
    font-weight: $font-weight-normal;
    font-style: italic;
}

@mixin font-primary-medium {
    font-family: $font-primary-family;
    font-weight: $font-weight-medium;
}

@mixin font-primary-bold {
    font-family: $font-primary-family;
    font-weight: $font-weight-bold;
}

/* ==========================================================================
    Quick references to often used font styles
   ========================================================================== */

.font-size-h1 { @include font-size($font-size-xl, $font-size-xxxl); }           // 48px - 72px
.font-size-h2 { @include font-size(1.75rem, 2rem); }                            // 22px - 28px
.font-size-h3 { @include font-size($font-size-lg, $font-size-xxl); }            // 22px - 28px
.font-size-h4 { @include font-size($font-size-sm, $font-size-md); }             // 16px - 20px

.font-size-text { @include font-size($font-size-xs, $font-size-sm); }           // 16px - 18px
.font-size-lead { @include font-size($font-size-sm, 1.5rem); }                  // 18px - 24px
.font-size-small { @include font-size($font-size-xxs, $font-size-xs); }         // 14px - 16px
.font-size-portfolio { @include font-size(18px, 20px); }

.font-size-logo { @include font-size(1.875rem, 3.125rem); }                      // 22px - 24px
.font-size-navigation { @include font-size($font-size-lg, 1.3333rem); }         // 22px - 24px
.font-size-project-title {@include font-size($font-size-xs, $font-size-sm);}    // 24px
.font-size-sidebar {@include font-size($font-size-xl);}                         // 24px


html {
    // Sets here base font for rem units
    font-size: $font-size-root;
}

body {
    color: $color-darkest;
    @include font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: $spacing 0 $spacing 0;

    @include font-primary-bold;

    color: $color-darkest;

    p {
        margin: 0;
        padding: 0;
        font-size: inherit;
        line-height: inherit;
    }

    // Make sure titles cannot be made bolder in the cms.
    strong, b {
        font-weight: inherit;
    }
}

h1 {
    @extend .font-size-h1;
}

h2 {
    @extend .font-size-h2;
}

h3 {
    @extend .font-size-h3;
}

h4 {
    @extend .font-size-h4;
}

p {
    margin-bottom: 20px;
    @include font-primary;
    @extend .font-size-text;
    line-height: 1.4;

    &.lead {
        margin-bottom: 40px;
        
        @include font-primary();
        @extend .font-size-lead;
        line-height: 1.7;
    }

    &.small {
        @extend .font-size-small;
    }
}

strong {
    @include font-primary-bold;
}